$lightBg: #EFE7D9 // L*ab 92 0 8
$accentBg: #C9BA9A // L*ab 76 0 18

$textColor: #655E4E // L*ab 40 0 10
$darkTextColor: darken($textColor, 6%)

$darkHover: #211B0C // L*ab 10 0 10
$medBg: mix($textColor, $accentBg)
$navBg: #EBDBBB // L*ab 88 0 18

$red: #981b1e // L*ab 33 50 32

$headerFonts: MinionPro, Garamond, serif
$bodyFonts: MyriadPro, sans-serif

@font-face
  font-family: MinionPro
  src: url('../fonts/MinionPro-MediumCapt.otf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: MinionPro
  src: url('../fonts/MinionPro-SemiboldCapt.otf')
  font-weight: bold
  font-style: normal

@font-face
  font-family: MyriadPro
  src: url('../fonts/MyriadPro-Regular.otf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: MyriadPro
  src: url('../fonts/MyriadPro-Bold.otf')
  font-weight: bold
  font-style: normal

@font-face
  font-family: MyriadPro
  src: url('../fonts/MyriadPro-It.otf')
  font-weight: normal
  font-style: italic

html, body
  background-color: $lightBg
  color: $textColor
  font:
    family: $bodyFonts
    size: 18px
    feature-settings: "liga" on

body
  padding: 0 10px

h1, h2, h3
  color: $red
  font:
    family: $headerFonts
    weight: bold

dd
  padding-left: 20px
  p:before
    content: '↣ '

.container
  padding-top: 10px

.navbar-default
  background-color: $navBg
  border-color: $accentBg
  margin-bottom: 40px
  .navbar-brand
    position: relative
    top: 3px
    color: $red
    font:
      family: $headerFonts
      weight: normal
      size: 1.5em
  .navbar-brand:hover
    color: $darkHover
  .navbar-toggle
    border: none
    .icon-bar
      background-color: $textColor
  .navbar-toggle:hover
    border: none
    border-color: $accentBg
    background-color: $accentBg
    .icon-bar
      background-color: $darkHover
  .navbar-collapse
    background: none
    border-color: $accentBg
  .navbar-nav
    li
      a
        color: $textColor
        $shiftDown: 2px
        padding:
          top: 15px + $shiftDown
          bottom: 15px - $shiftDown
      a:hover
        color: $darkHover
    .active
      a
        background-color: $accentBg
        color: $darkTextColor
      a:hover
        background-color: $accentBg
        color: $darkHover
    .open
      a.dropdown-toggle
        //background-color: $accentBg
        background-color: $navBg
        color: $darkHover
      @media (max-width:767px)
        a.dropdown-toggle
          padding-bottom: 0
      .dropdown-menu
        font-size: 18px
        background-color: $navBg
        color: $textColor
        border-color: $medBg
        .active
          a
            background-color: $accentBg
            color: $darkTextColor
          a:hover
            background-color: $accentBg
            color: $darkHover
        li
          a:hover 
            background-color: $accentBg
            color: $darkHover
          a
            padding: 12px 16px 6px
            color: $textColor
          @media (max-width:767px)
            a:hover 
              background-color: $navBg
            a
              padding: 12px 16px 6px 24px

.jumbotron
  background-color: $accentBg
  color: $darkTextColor
  padding: 20px
  margin-top: -20px
  h1
    color: $red !important
  @media screen and (min-width: 768px)
    h1
      font-weight: normal
    p
      font-size: 30px
  .jumbologo
    margin: 0 auto
    display: block
    max-height: 250px
    max-width: 100%

.table
  tbody
    tr
      td
        border-color: $accentBg
        padding-bottom: 4px
    tr:first-child
      td
        border: none

.footer
  margin:
    top: 50px
    bottom: 60px
  padding-top: 10px
  border-top: 1px solid $textColor
  font-size: 0.7em
